:root{
  --colorPrimary: mediumspringgreen;
  --ColorButton:#9EA93F;
  --ColorButtonG:#D93E3E;
  --ColorBack: #ffffff;
  --ColorText: #000000;
  --ColorTextS: #ffffff;
  --ColorLinea:#000000;
}
.navs{
  
  width: 100%;
}
.navs::after {
  content: '';
  display: inherit;
  width: 97%;
  margin: 10px auto;
  border-top: 3px solid var(--ColorButton);
}

.login-box{
  width: 390px;
  height: 450px;
  background-color: var(--ColorBack);
  color: var(--ColorText);
  top: 50%;
  left: 50%;
  position: absolute;
  transform: translate(-50%, -50%);
  box-sizing: border-box;
  padding: 60px 60px;
}
.avatarP{
  background-color: var(--ColorBack);
  width: 70px;
  height: 70px;
  border-radius: 50%;
  position: absolute;
  top: -30px;
  left: calc(50% - 30px);
}
.login-box h1{
  margin: 0;
  padding: 0 0 20px 0;
  text-align: center;
  font-size: 22px;
}
.login-box label{
  margin: 0;
  padding: 0;
  font-weight: bold;
  display: block;
  padding-bottom: 10px;
}
.login-box input{
  width: 100%;
  margin-bottom:20px;
}
.inputsLine{
  width: 100%;
  height: 32px;
  background-color: #F1E8E8;
  color: #9B7373;
  border-color: #707070;
  font-size: 20px;
  font-family: 'DM Sans', sans-serif;
  border-width: 1px;
}
.buttonP{
  border: none;
  outline: none;
  height: 40px;
  background-color: var(--ColorButton);
  color: var(--ColorTextS);
  font-size:18px;
}
.buttonG{
  border: none;
  outline: none;
  width: 100%;
  height: 40px;
  background-color: var(--ColorButtonG);
  color: var(--ColorTextS);
  font-size:14px;
}
.separator{
  position: relative;
  z-index: 1;
}
.separator::before{
  border-top: 1px solid var(--ColorLinea);
  content: "";
  margin: 0 auto;
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  bottom: 0;
  width: 95%;
  z-index: -1;
}
h2 {
  font: 15px;
  margin:0;
  text-align: center;
  font-weight: normal;
}
h2.separator {
  position: relative;
  z-index: 1;
}
h2.separator span {

  background: #fff;
  padding: 0 15px;
}
.login-box,
.button,
.buttonG{
  border-radius: 4px;
}
